
@{
    ViewData["Title"] = "GetImages";
}

<h1>GetImages</h1>
<div id="example">
    <div id="grid"></div>
</div>

<!--<script>-->

                     @*function(data) {
                                var v = "@Url.Content(Convert.ToString("~/Kendo/RetrieveImageFile/"))" + data.id;
                               return "<img src =" + v + "  width:'100%' height:'100%' />"
                                  }*@


                <!--$("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "http://localhost:5001/Image/GetData",
                                dataType: 'json'
                            }
                        },
                        pageSize: 20
                    },
                    height: 550,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [{
                        template: "<div class='customer-name'>#: id #</div>",
                        field: "id",
                        title: "Contact Name",
                        width: 240
                    }, {
                            field: "Name",
                            title: "ImageName"
                    }, {
                            field: "ImageName",
                            title: "ImageName"
                    }, {
                        field: "id",
                        width: 150
                    }]
                });

</script>--

                     @*function(data) {
                                var v = "@Url.Content(Convert.ToString("~/Kendo/RetrieveImageFile/"))" + data.id;
                               return "<img src =" + v + "  width:'100%' height:'100%' />"
                                  }*@


                <!--$("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "http://localhost:5001/Image/GetData",
                                dataType: 'json'
                            }
                        },
                        pageSize: 20
                    },
                    height: 550,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [{
                        template: "<div class='customer-name'>#: id #</div>",
                        field: "id",
                        title: "Contact Name",
                        width: 240
                    }, {
                            field: "Name",
                            title: "ImageName"
                    }, {
                            field: "ImageName",
                            title: "ImageName"
                    }, {
                        field: "id",
                        width: 150
                    }]
                });

</script>-->
<script>
        $(document).ready(function () {
            var baseUrl = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.baseUrl) as String)
          
                //alert(JSON.stringify(baseUrl));
                $.get(baseUrl+"/Image/GetData")
                .done(function (data) {
                 //   alert(JSON.stringify(data));
                    $("#grid").kendoGrid({
                        dataSource: {
                            data: data,
                            pageSize: 20
                        },
                        schema: {
                            data: "items"
                        },
                        height: 550,
                        groupable: true,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [
                            //{
                            //template: "<div class='customer-photo'" +
                            //    "style='background-image: url(../content/web/Customers/#:data.CustomerID#.jpg);'></div>" +
                            //    "<div class='customer-name'>#: ContactName #</div>",
                            //field: "Id",
                            //title: "Id",
                            //width: 240
                            //},
                            @*{
                               template: function (data) {

                          var v = "@Url.Content(Convert.ToString("~/Upload/GetImage/"))" + kendo.htmlEncode(data.id);
                          return "<img src =" + v + "   />";

                                },

                            field: "id",
                            title: "id",
                            width: 240
                            },*@
                            {
                                template: kendo.template($("#name-template").html()),
                                field: "id",
                                title: "Contact Name",
                                width: 240
                            },
                            {
                                field: "imageName",
                                title: "ImageName"
                            },
                        ]
                    });
                });
                })


</script>

<script id="name-template" type="text/x-kendo-template">
    <img src="../Image/RetrieveImageFile/#:data.id#" alt="#: data.id #" class="customer-photo" />
</script>
@*"@Url.Content(Convert.ToString("~/jqridImage/RetrieveImageFile/"))" + cellvalue*@
<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>